.service-div{
  background-image: url('./img/image 1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@media screen and (max-width:500px) {
  .service-div{
    background-position:bottom ;
  }
  .service-div2{
    background-position-x:-265px;
  }
}

.overlay{
  background: linear-gradient(180deg,#0084D6 -50%,#000000 100%);
  opacity: .49;
  background-color: transparent;
  padding: 15% 0;

}
.service-div2{
  margin: 5% 10px ;
  background-image: url('./img/New\ Project.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* border: 6px solid #BC7AFF; */
  padding: 7% 0;
  
}